<h1>Projects</h1>
<div class="row">
  <div class="col-8 mx-auto">
    <button class="btn btn-primary" data-toggle="modal" data-target="#newModal">Create Project</button>
  </div>
  <div class="col-8 mx-auto">
    <br>
    <table class="table">
      <thead>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Project Country</th>
        <!-- <th>Team Size</th> -->
      </thead>
      <tbody>
        <tr *ngFor="let project of projetList">
          <td>{{project.id}}</td>
          <td>{{project.name}}</td>
          <td>{{project.country}}</td>
          <td>
            <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>
            <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<form (ngSubmit)="onSubmit()">
  <div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <div class="modal-title">New Project</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <!-- <div class="form-group row">
            <label for="txtNewProjectID" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="text" id="txtNewProjectID" style="width:100px" class="form-control" placeholder="Project ID"
                name="ProjectID" [(ngModel)]="newProject.id">
            </div>
          </div> -->



          <!-- <div class="form-group row">
            <label for="txtNewDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
            <div class="col-sm-8">
              <input type="date" id="txtNewDateOfStart" style="width:150px" class="form-control"
                placeholder="Date of Start" name="DateOfStart" [(ngModel)]="newProject.dateOfStart">
            </div>
          </div> -->

          <div class="form-group row">
            <label for="txtTeamSize" class="col-sm-4 col-form-label">Country</label>
            <div class="col-sm-8">
              <input type="text" id="txtcountry" style="width:150px" class="form-control" placeholder="Country"
              [(ngModel)] = "projet.country" name = "country">
            </div>
          </div>


          <div class="form-group row">
            <label for="txtNewProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="name" class="form-control" placeholder="Project Name"
              [(ngModel)] = "projet.name" name = "name">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <!-- <button class="btn btn-success" data-dismiss="modal" (click)="onSaveClick()">Save</button> -->
          <button type="submit" class="btn btn-success">Submit</button>  

        </div>
      </div>
    </div>
  </div>
</form>

<form>
  <div class="modal" role="dialog" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 700px">
        <div class="modal-header">
          <div class="modal-title">Edit Project</div>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="txtEditProjectID" class="col-sm-4 col-form-label"
              >Project ID</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="txtEditProjectID"
                style="width: 100px"
                class="form-control-plain-text"
                placeholder="Project ID"
                name="ProjectID"
                [(ngModel)] = "projet.id">
                disabled="disabled"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="txtEditProjectName" class="col-sm-4 col-form-label"
              >Project Name</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="txtEditProjectName"
                class="form-control"
                placeholder="Project Name"
                name="ProjectName"
                [(ngModel)] = "projet.name">
                />
            </div>
          </div>

          <!-- <div class="form-group row">
            <label for="txtEditDateOfStart" class="col-sm-4 col-form-label"
              >Date of Start</label
            >
            <div class="col-sm-8">
              <input
                type="date"
                id="txtEditDateOfStart"
                style="width: 150px"
                class="form-control"
                placeholder="Date of Start"
                name="DateOfStart"
                [(ngModel)]="editProject.dateOfStart"
              />
            </div>
          </div> -->

          <div class="form-group row">
            <label for="txtEditTeamSize" class="col-sm-4 col-form-label"
              >Team Size</label
            >
            <div class="col-sm-8">
              <input
                type="number"
                id="txtEditTeamSize"
                style="width: 150px"
                class="form-control"
                placeholder="Team Size"
                name="TeamSize"
                [(ngModel)] = "projet.country">
                />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button
            class="btn btn-success"
            data-dismiss="modal"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div> 
</form>


<!-- <div class="col-md-6 offset-md-3">
    <h3> Create Employee </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>COUNTRY</label>
            <input type="text" class ="form-control" id = "country"
                [(ngModel)] = "projet.country" name = "country">
        </div>
    
        <div class="form-group">
            <label>NAME</label>
            <input type="text" class ="form-control" id = "name"
                [(ngModel)] = "projet.name" name = "name">
        </div>

    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
</div>  -->